.builder {
    width: 200px;
    display: grid;
    grid-template-rows: repeat(4, 25px);
    grid-gap: 50px;
}

label {
    display: grid;
    font-size: .7em;
    gap: 2px;
}

article {
    padding: 20px 0;
        padding-top: 20px;
        padding-right: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
    display: grid;
    grid-template-rows: 25px, 25px, 25px, 1fr;
    grid-gap: 50px;
        row-gap: 10px;
        column-gap: 10px;
    justify-items: center;
    height: 400px;
    width: 500px; 
    border: 2px;
    border-style: solid;
    border-color: white;  
}

#climate-image {
    width: 200px;
}

#architecture-image {
    width: 200px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .bungalow {
    font-family: 'Courier New';
    font-size: 1.5rem;
}

.hacienda {
    font-family: 'Courier New';
    font-size: 2rem;
}

.modern {
    font-family: 'Courier New';
    font-size: 1rem;
}

.rustic {
    font-family: 'Courier New';
    font-size: 2.5rem;
}

.coastal {
    background: #cac292;
    color: #000000;
    border: 3px solid #99e4f7;
}

.desert {
    background: #67523f;
    color: #fdfdfb;
    border: 3px solid #fc7703;
}

.forest {
    background: #559662;
    color: #ffffff;
    border: 3px solid #000000;
}

.mountain {
    background: #038cf5;
    color: #a2abba;
    border: 3px solid #0d0086;
}  */