.builder {
    width: 200px;
    display: grid;
    grid-template-rows: repeat(4, 25px);
    grid-gap: 50px;
}

label {
    display: grid;
    font-size: .7em;
    gap: 2px;
}

article {
    padding: 20px 0;
        padding-top: 20px;
        padding-right: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
    display: grid;
    grid-template-rows: 25px, 25px, 25px, 1fr;
    grid-gap: 50px;
        row-gap: 10px;
        column-gap: 10px;
    justify-items: center;
    height: 400px;
    width: 500px; 
    border: 2px;
    border-style: solid;
    border-color: white;  
}

#climate-image {
    width: 200px;
}

#architecture-image {
    width: 200px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .bungalow {
    font-family: 'Concert One';
    font-size: 1rem;
}

.hacienda {
    font-family: 'Space Grotesk';
    font-size: 0.9rem;
    background-color: #040404;
}

.modern {
    font-family: 'Lato';
    font-size: 0.9rem;
}

.rustic {
    font-family: 'Courier New';
    font-size: 0.9rem;
}

.coastal {
    background: #240047;
    color: #40ffdc;
    border: 3px solid #00a9d4;
}

.desert {
    background: #876b53;
    color: #eee4a9;
    border: 3px solid #fbcac5;
}

.forest {
    background: #e9f2f9;
    color: #1b325f;
    border: 3px solid #3a89c9;
}

.mountain {
    background: #038cf5;
    color: #5e697e;
    border: 3px solid #040404;
} */